<section class="container">
    <div class="error-plantilla">
        <h1>ERROR {{title}}</h1>
        <h3>El recurso proporcionado no existe en este servidor.</h3>
        <img style="border-radius: 10px;" src="/api/public/images/404.webp" alt="Imagen que representa error 404">
    </div>
</section>