<section class="container">
    <h1>{{title}}</h1>
    <form action="/api/users/login" method="post" >
        <div>
            <div>
                <label for="email">Email:</label>
                <br />
                <input type="email" id="email" name="email" placeholder="example@mail.com" />
            </div>
            <div>
                <label for="password">Password:</label>
                <br />
                <input type="password" id="password" name="password" placeholder="12345" autocomplete="additional-name"/>
            </div>
            <br />
            <button type="submit">Ingresar</button>
        </div>
    </form>
    <p>¿No tienes cuenta?</p>
    <a href="/register">Registrar</a>
    <a href="/api/views/auth/google">Registrar con Google</a>
     <p>¿Olvidaste tu password?</p><a href="/recupero">Recuperar</a>
</section>