<section class="container">
    <h1>{{title}}</h1>
    <div>
        <p>Nombre: {{user.name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <form action="/api/sessions/logout" method="post">
            <button type="submit">Cerrar session</button>
        </form>
    </div>
</section>