<section class="container">
    <h1>{{title}}</h1>
    <form action="/api/sessions/register" method="post">
        <div>
            <div>
                <label for="nombre">Name</label>
                <br />
                <input id="name" name="nombre" placeholder="Juan" />
            </div>
            <div>
                <label for="apellido">Last Name</label>
                <br />
                <input id="apellido" name="apellido" placeholder="Perez" />
            </div>
            <div>
                <label for="email">Email</label>
                <br />
                <input type="email" id="email" name="email" placeholder="example@mail.com" />
            </div>
            <div>
                <label for="contraseña">Password</label>
                <br />
                <input type="contraseña" id="contraseña" name="contraseña" placeholder="12345" autocomplete="additional-name"/>
            </div>
            <div>
                <label for="edad">Age</label>
                <br />
                <input type="Number" id="edad" name="edad" placeholder="20" min="1" />
            </div>
            <label for="rol">Rol</label>
                <select id="rol" name="rol">
                    <option value="user">Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
            <br />
            <button type="submit">Registrar</button>
            <a href="/api/sessions/auth/google" class="btn-google">Registrar con Google</a>
        </div>
    </form>
    <p>¿Ya tienes cuenta?</p><a href="/login">Ingresar</a>
</section>